body { background-image: url(https://images.unsplash.com/photo-1513307878903-4c4a7cab5b9a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a3d3305f621409fac0e0ade13d30ef65&auto=format&fit=crop&w=1502&q=80);
background-attachment: fixed;
background-size: cover;

}

h1 { text-align: center;
	color: rgb(255, 217, 217);
	font-family: 'Abel', sans-serif;
	font-size: 3em;

	margin-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 20px;
}

.bor {
	
	width: 300px; 
	margin: 0 auto; 
	height: 5px; 
	border-radius: 200px 200px 200px 200px; 
	background-color: rgba(99, 8, 8, 0.7);
}

img { display: flex;
margin: 0 auto;
margin-top: 150px;
height: 50;
width: 200px; }

.btn-danger { background-color: #630808; border: #630808;
		width: 200px;
		margin: auto;
		display: block;
		margin-top: 0px;
}

.btn-danger:hover { background-color: #170000; border: #170000;
}